<% provide(:title, 'Current Job Requests') %>
<% if customer_logged_in? %>
  <%= render 'layouts/customer_dashboard' %>
<% elsif user_logged_in? && current_user.manager? %>
  <%= render 'layouts/manager_dashboard' %>
<% end %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <% if user_logged_in? && current_user.manager? %>
          Current Job Requests
        <% elsif customer_logged_in? && current_customer.approved? %>
          Your Current Job Requests
        <% elsif customer_logged_in && !current_customer.approved? %>
          Awaiting Approval
        <% end %>
      </h1>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <% if customer_logged_in? && !current_customer.approved? %>
    <p style="text-align: center">
      Please wait for TSHA to approve your account before jobs can be requested.
    </p>
  <% elsif customer_logged_in? && current_customer.approved? %>
   <ul class="job_requests">
      <%= render @job_requests %>
   </ul>
   <!-- /.jobs -->
   <% elsif user_logged_in? && current_user.manager? %>
    <ul class="job_requests">
      <%= render @job_requests %>
   </ul>
   <!-- /.jobs -->
  <% end %>
</div>
<!-- /.page-wrapper -->
