<% provide(:title, 'Current Job Requests') %>
<% if customer_logged_in? %>
  <%= render 'layouts/customer_dashboard' %>
<% elsif user_logged_in? && current_user.manager? %>
  <%= render 'layouts/manager_dashboard' %>
<% end %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <% if customer_logged_in? %>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <% if current_customer.approved? %>
          Total Job Requests
        <% else %>
          Awaiting Approval
        <% end %>
      </h1>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <% end %>
  <% if customer_logged_in? && !current_customer.approved? %>
    <p style="text-align: center">
      Please wait for TSHA to approve your account before jobs can be requested.
    </p>
  <% elsif customer_logged_in? && current_customer.approved? %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Deaf Client
          </th>
          <th>
            Contact Person
          </th>
          <th>
            Start
          </th>
          <th>
            End
          </th>
          <th>
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @job_requests %>
      </tbody>
    </table>
    <!-- /.table table-striped table-hover -->
  <% elsif user_logged_in? && current_user.manager? %>
    <% if @job_requests_awaiting_approval.count > 0 %>
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Job Requests in Need of Approval
          </h1>
          <!-- /.page-header -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Office/Business Name
            </th>
            <th>
              Requester
            </th>
            <th>
              Deaf Client
            </th>
            <th>
              Contact Person
            </th>
            <th>
              Start
            </th>
            <th>
              End
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <% @job_requests_awaiting_approval.each do |job_request_awaiting_approval| %>
            <tr>
              <td>
                <%= link_to "#{job_request_awaiting_approval.id}", job_request_awaiting_approval %>
              </td>
              <td>
                <%= link_to "#{job_request_awaiting_approval.office_business_name}", job_request_awaiting_approval %>
              </td>
              <td>
                <%= link_to "#{job_request_awaiting_approval.requester_first_name} #{job_request_awaiting_approval.requester_last_name}", job_request_awaiting_approval %>
              </td>
              <td>
                <%= link_to "#{job_request_awaiting_approval.deaf_client_first_name} #{job_request_awaiting_approval.deaf_client_last_name}", job_request_awaiting_approval %>
              </td>
              <td>
                <%= link_to "#{job_request_awaiting_approval.contact_person_first_name} #{job_request_awaiting_approval.contact_person_last_name}", job_request_awaiting_approval %>
              </td>
              <td>
                <%= job_request_awaiting_approval.start.strftime("%A, %d %b %Y %l:%M %p") %>
              </td>
              <td>
                <%= job_request_awaiting_approval.end.strftime("%A, %d %b %Y %l:%M %p") %>
              </td>
              <td>
                <% if job_request_awaiting_approval.awaiting_approval? %>
                  <span class="label label-warning">Awaiting Approval</span>
                <% elsif job_request_awaiting_approval.accepted? %>
                  <span class="label label-success">Approved</span>
                <% elsif job_request_awaiting_approval.denied? %>
                  <span class="label label-danger">Rejected</span>
                <% elsif job_request_awaiting_approval.expired? %>
                  <span class="label label-danger">Expired</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- /.table table-striped table-hover -->
    <% elsif user_logged_in? && !current_user.manager? %>
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
            Total Job Requests
          </h1>
          <!-- /.page-header -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Office/Business Name
            </th>
            <th>
              Requester
            </th>
            <th>
              Deaf Client
            </th>
            <th>
              Contact Person
            </th>
            <th>
              Start
            </th>
            <th>
              End
            </th>
          </tr>
        </thead>
        <tbody>
          <% @job_requests.each do |job_request| %>
            <tr>
              <td>
                <%= link_to "#{job_request.id}", job_request %>
              </td>
              <td>
                <%= link_to "#{job_request.office_business_name}", job_request %>
              </td>
              <td>
                <%= link_to "#{job_request.requester_first_name} #{job_request.requester_last_name}", job_request %>
              </td>
                <td>
                  <%= link_to "#{job_request.deaf_client_first_name} #{job_request.deaf_client_last_name}", job_request %>
              </td>
              <td>
                <%= link_to "#{job_request.contact_person_first_name} #{job_request.contact_person_last_name}", job_request %>
              </td>
              <td>
                <%= job_request.start.strftime("%A, %d %b %Y %l:%M %p") %>
              </td>
              <td>
                <%= job_request.end.strftime("%A, %d %b %Y %l:%M %p") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <!-- /.table table-striped table-hover -->
    <% end %>
    <% if @job_requests_not_awaiting_approval.count > 0 %>
      <% if @job_requests_awaiting_approval.count == 0 %>
        <div class="row">
          <div class="col-lg-12">
            <h1 class="page-header">
              Job Request History
            </h1>
            <!-- /.page-header -->
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
      <% else %>
        <h1 class="page-header">
          Job Request History
        </h1>
        <!-- /.page-header -->
      <% end %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              ID
            </th>
            <th>
              Office/Business Name
            </th>
            <th>
              Requester
            </th>
            <th>
              Deaf Client
            </th>
            <th>
              Contact Person
            </th>
            <th>
              Start
            </th>
            <th>
              End
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <% @job_requests_not_awaiting_approval.each do |job_request_not_awaiting_approval| %>
            <tr>
              <td>
                <%= link_to "#{job_request_not_awaiting_approval.id}", job_request_not_awaiting_approval %>
              </td>
              <td>
                <%= link_to "#{job_request_not_awaiting_approval.office_business_name}", job_request_not_awaiting_approval %>
              </td>
              <td>
                <%= link_to "#{job_request_not_awaiting_approval.requester_first_name} #{job_request_not_awaiting_approval.requester_last_name}", job_request_not_awaiting_approval %>
              </td>
              <td>
                <%= link_to "#{job_request_not_awaiting_approval.deaf_client_first_name} #{job_request_not_awaiting_approval.deaf_client_last_name}", job_request_not_awaiting_approval %>
              </td>
              <td>
                <%= link_to "#{job_request_not_awaiting_approval.contact_person_first_name} #{job_request_not_awaiting_approval.contact_person_last_name}", job_request_not_awaiting_approval %>
              </td>
              <td>
                <%= job_request_not_awaiting_approval.start.strftime("%A, %d %b %Y %l:%M %p") %>
              </td>
              <td>
                <%= job_request_not_awaiting_approval.end.strftime("%A, %d %b %Y %l:%M %p") %>
              </td>
              <td>
                <% if job_request_not_awaiting_approval.awaiting_approval? %>
                  <span class="label label-warning">Awaiting Approval</span>
                <% elsif job_request_not_awaiting_approval.accepted? %>
                  <span class="label label-success">Approved</span>
                <% elsif job_request_not_awaiting_approval.denied? %>
                  <span class="label label-danger">Rejected</span>
                  <% elsif job_request_not_awaiting_approval.expired? %>
                  <span class="label label-danger">Expired</span>
                <% end %>
              </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <!-- /.table table-striped table-hover -->
    <% end %>
  <% end %>
</div>
<!-- /.page-wrapper -->
