<% provide(:title, "Job Request #{@job_request.id}") %>
<% if customer_logged_in? %>
  <%= render 'layouts/customer_dashboard' %>
<% elsif user_logged_in? && current_user.manager? %>
  <%= render 'layouts/manager_dashboard' %>
<% end %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <aside class="col-lg-12">
      <h3 class="page-header">
        Job Request #<%= @job_request.id %>
      </h3>
      <!-- /.page-header -->
      <% if user_logged_in? && current_user.manager? %>
        <td>
          <%= render 'job_request_status' %>
        </td>
      <% end %>
      <%= render 'job_request_info' %>
    </aside>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.page-wrapper -->
