<% if @jobs_awaiting_completion.count == 0 %>
  <%= render 'layouts/no_results_found_alert' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
         Customer Name
        </th>
        <th>
          Location
        </th>
        <th>
          Start
        </th>
        <th>
          End
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <% @jobs_awaiting_completion.each do |job_awaiting_completion| %>
        <tr>
          <td>
            <%= link_to "#{job_awaiting_completion.id}", job_awaiting_completion %>
          </td>
          <td>
            <%= link_to "#{job_awaiting_completion.customer.customer_name}", job_awaiting_completion %>
          </td>
          <td>
            <%= link_to "#{job_awaiting_completion.city}, #{job_awaiting_completion.state} #{job_awaiting_completion.zip}", job_awaiting_completion %>
          </td>
          <td>
            <%= job_awaiting_completion.start.strftime("%A, %d %b %Y %l:%M %p") %>
          </td>
          <td>
            <%= job_awaiting_completion.end.strftime("%A, %d %b %Y %l:%M %p") %>
          </td>
          <td>
            <% if job_awaiting_completion.job_status_confirmed? %>
              <span class="label label-success">Confirmed</span>
            <% elsif job_awaiting_completion.job_status_expired? %>
              <span class="label label-danger">Expired</span>
            <% elsif job_awaiting_completion.job_status_needs_confirmation? %>
              <span class="label label-warning">Needs Confirmation</span>
            <% elsif job_awaiting_completion.job_status_awaiting_completion? %>
              <span class="label label-success">Awaiting Completion</span>
            <% elsif job_awaiting_completion.job_status_awaiting_invoice? %>
              <span class="label label-warning">Awaiting Invoice</span>
            <% elsif job_awaiting_completion.job_status_processed? %>
              <span class="label label-success">Processed</span>
            <% end %>
          </td>
       </tr>
      <% end %>
    </tbody>
  </table>
  <!-- /.table table-striped table-hover -->
<% end %>
