<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      Search by: ID, Requester, Requester Phone/Email, Contact, or Address
    </h3>
    <!-- /.panel-title -->
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <% if params[:search].present? %>
      <% if params[:search][:start_after].present? %>
        <% if params[:search][:end_before].present? %>
          <% if params[:search][:query].present? %>
            <%= simple_form_for :search,  url: jobs_path , :method => :get do |f| %>
              <%= f.input :start_after, as: :date_time_picker, input_html: { value: params[:search][:start_after] } %>
              <%= f.input :end_before, as: :second_date_time_picker, input_html: { value: params[:search][:end_before] } %>
              <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
              <%= f.submit "Search" %>
            <% end %>
          <% else %>
            <%= simple_form_for :search,  url: jobs_path , :method => :get do |f| %>
              <%= f.input :start_after, as: :date_time_picker, input_html: { value: params[:search][:start_after] } %>
              <%= f.input :end_before, as: :second_date_time_picker, input_html: { value: params[:search][:end_before] } %>
              <%= f.input :query, :autofocus => true %>
              <%= f.submit "Search" %>
            <% end %>
          <% end %>
        <% elsif params[:search][:query].present? %>
          <%= simple_form_for :search,  url: jobs_path , :method => :get do |f| %>
            <%= f.input :start_after, as: :date_time_picker, input_html: { value: params[:search][:start_after] } %>
            <%= f.input :end_before, as: :second_date_time_picker %>
            <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
            <%= f.submit "Search" %>
          <% end %>
        <% else %>
          <%= simple_form_for :search,  url: jobs_path , :method => :get do |f| %>
            <%= f.input :start_after, as: :date_time_picker, input_html: { value: params[:search][:start_after] } %>
            <%= f.input :end_before, as: :second_date_time_picker %>
            <%= f.input :query, :autofocus => true %>
            <%= f.submit "Search" %>
          <% end %>
        <% end %>
      <% elsif params[:search][:end_before].present? %>
        <% if params[:search][:query].present? %>
          <%= simple_form_for :search,  url: jobs_path , :method => :get do |f| %>
            <%= f.input :start_after, as: :date_time_picker %>
            <%= f.input :end_before, as: :second_date_time_picker, input_html: { value: params[:search][:end_before] } %>
            <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
            <%= f.submit "Search" %>
          <% end %>
        <% else %>
          <%= simple_form_for :search,  url: jobs_path , :method => :get do |f| %>
            <%= f.input :start_after, as: :date_time_picker %>
            <%= f.input :end_before, as: :second_date_time_picker, input_html: { value: params[:search][:end_before] } %>
            <%= f.input :query, :autofocus => true %>
            <%= f.submit "Search" %>
          <% end %>
        <% end %>
      <% else %>
        <%= simple_form_for :search,  url: jobs_path , :method => :get do |f| %>
          <%= f.input :start_after, as: :date_time_picker %>
          <%= f.input :end_before, as: :second_date_time_picker %>
          <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
          <%= f.submit "Search" %>
        <% end %>
      <% end %>
    <% else %>
      <%= simple_form_for :search,  url: jobs_path , :method => :get do |f| %>
        <%= f.input :start_after, as: :date_time_picker %>
        <%= f.input :end_before, as: :second_date_time_picker %>
        <%= f.input :query, :autofocus => true %>
        <%= f.submit "Search" %>
      <% end %>
    <% end %>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel panel-info -->

<script type="text/javascript">
  $('.form_datetime').datetimepicker({
    autoclose: true,
    todayBtn: true,
    pickerPosition: "bottom-left",
    format: 'mm-dd-yyyy hh:ii'
  });
  $('.second_form_datetime').datetimepicker({
    autoclose: true,
    todayBtn: true,
    pickerPosition: "bottom-left",
    format: 'mm-dd-yyyy hh:ii'
  });
</script>
