<% provide(:title, "Job #{@job.id}") %>
<%= render 'layouts/interpreter_or_manager_or_customer_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <aside class="col-lg-12">
      <h3 class="page-header">
        Job #<%= @job.id %>
      </h3>
      <!-- /.page-header -->
      <section class="user_info">
        <% if user_logged_in? && current_user.manager? %>
          <h4>
            Manager Options:
          </h4>
          <%= render 'manager_options' %>
        <% elsif user_logged_in? && !current_user.manager? %>
          <% @interpreter_invoice = InterpreterInvoice.where(user_id: current_user.id, job_id: @job.id).first %>
          <% if @job.has_interpreter_assigned? && Date.today >= @job.start_date && !@job.invoice_submitted? && !@interpreter_invoice %>
            <%= render 'submit_invoice_button' %>
          <% end %>
        <% end %>
        <%= render 'job_info' %>
      </section>
      <!-- /.user_info -->
    </aside>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.page-wrapper -->
