<% provide(:title, @job.id) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Job #<%= @job.id %>
        <br>
        Customer: <%= @job.customer.customer_name %>
        <br>
        Location: <%= @job.city %>, <%= @job.state %>  <%= @job.zip %>
      </h1>
    </section>
  </aside>
</div>
