<% provide(:title, "Job #{@job.id}") %>
<% if customer_logged_in? %>
  <%= render 'layouts/customer_dashboard' %>
<% elsif user_logged_in? && current_user.manager? %>
  <%= render 'layouts/manager_dashboard' %>
<% elsif user_logged_in? && !current_user.manager? %>
  <%= render 'layouts/interpreter_dashboard' %>
<% end %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <aside class="col-lg-12">
      <section class="user_info">
        <% if user_logged_in? && current_user.manager? %>
          <%= render 'jobs/job_label' %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
            Show Qualification Requirements 
          </button>
          <!-- /.btn btn-primary -->
          <% if !@job.has_interpreter_assigned? && @job.confirmed_interpreters.any? %>
            <%= link_to "Finalize Job and Interpreters", finalize_job_and_interpreters_job_path(id: @job.id), class: "btn btn-success", role:"button", :data => {:confirm => "Are you sure you want to finalize this job?"} %>
          <% end %>
          <%= render 'jobs/job_qualifications_sheet' %>
          <% if @confirmed_interpreters.count > 0 %>
            <h1 class="page-header">
              Confirmed Interpreters
            </h1>
            <%= render 'jobs/confirmed_interpreters_table' %>
          <% end %>
          <% if @attempted_interpreters.count > 0 %>
            <h1 class="page-header">
              Interpreting Requests
            </h1>
            <%= render 'jobs/attempted_interpreters_table' %>
          <% end %>
        <% elsif user_logged_in? && !current_user.manager? %>
          <% @interpreter_invoice = InterpreterInvoice.where(user_id: current_user.id, job_id: @job.id).first %>
          <% if @job.has_interpreter_assigned? && @job.start < Time.now && !@job.invoice_submitted? && !@interpreter_invoice %>
            <%= link_to "Submit Invoice", new_interpreter_invoice_from_job_interpreter_invoice_path(
             :user_id => current_user.id, :job_id => @job.id,
             :start => @job.start, :end => @job.end,
             :contact_person_first_name => @job.contact_person_first_name,
             :contact_person_last_name => @job.contact_person_last_name,
             :contact_person_phone_number => @job.customer.contact_phone_number,
             :event_location_address_line_1 => @job.address_line_1,
             :event_location_address_line_2 => @job.address_line_2,
             :event_location_address_line_3 => @job.address_line_3),
             :class => "btn btn-success" %>
          <% end %>
        <% end %>
        <%= render 'jobs/job_info' %>
      </section>
      <!-- /.user_info -->
    </aside>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.page-wrapper -->