<% provide(:title, "Job #{@job.id}") %>
<%= render 'layouts/interpreter_or_manager_or_customer_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <aside class="col-lg-12">
      <h3 class="page-header">
        Job #<%= @job.id %>
      </h3>
      <!-- /.page-header -->
      <section class="user_info">
        <% if user_logged_in? && current_user.manager? %>
          <h4>
            Manager Options:
          </h4>
          <div class="btn-group" role="group" aria-label="Justified button group">
            <%= link_to "Edit Job", edit_job_path(@job), class: 'btn btn-primary' %>
            <% if !@job.expired? && !@job.completed? %>
              <%= link_to "Expire Job", expire_job_job_path(id: @job.id), class: "btn btn-danger", role:"button", :data => {:confirm => "Are you sure you want to expire Job #{@job.id}? This cannot be reversed."} %>
            <% end %>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
              Show Qualification Requirements 
            </button>
            <!-- /.btn btn-primary -->
            <% if !@job.has_interpreter_assigned? && @job.confirmed_interpreters.any? %>
              <%= link_to "Finalize Job and Interpreters", finalize_job_and_interpreters_job_path(id: @job.id), class: "btn btn-success", role:"button", :data => {:confirm => "Are you sure you want to finalize this job?"} %>
            <% end %>
          </div>
          <!-- /.btn-group btn-group-justified -->
          <%= render 'job_qualifications_sheet' %>
          <% if @confirmed_interpreters.count > 0 %>
            <h3 class="page-header">
              Confirmed Interpreters
            </h3>
            <!-- /.page-header -->
            <%= render 'confirmed_interpreters_table' %>
          <% end %>
          <% if @attempted_interpreters.count > 0 %>
            <h3 class="page-header">
              Interpreting Requests
            </h3>
            <!-- /.page-header -->
            <%= render 'attempted_interpreters_table' %>
          <% end %>
        <% elsif user_logged_in? && !current_user.manager? %>
          <% @interpreter_invoice = InterpreterInvoice.where(user_id: current_user.id, job_id: @job.id).first %>
          <% if @job.has_interpreter_assigned? && Date.today >= @job.start_date && !@job.invoice_submitted? && !@interpreter_invoice %>
            <%= render 'submit_invoice_button' %>
          <% end %>
        <% end %>
        <%= render 'job_info' %>
      </section>
      <!-- /.user_info -->
    </aside>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.page-wrapper -->