<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      Edit Interpreter Qualifications
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">
        Show Qualifications
      </button>
    </h3>
    <!-- /.panel-title -->
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <table class="table table-striped table-hover">
      <tbody>
        <tr>
          <td>
            <% if @user.qast_1_interpreting? %>
              <%= link_to "Remove QAST I Interpreting", revoke_qualification_user_path(id: @user.id, qualification: "QAST I Interpreting"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add QAST I Interpreting", promote_qualification_user_path(id: @user.id, qualification: "QAST I Interpreting"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.qast_2_interpreting? %>
              <%= link_to "Remove QAST II Interpreting", revoke_qualification_user_path(id: @user.id, qualification: "QAST II Interpreting"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add QAST II Interpreting", promote_qualification_user_path(id: @user.id, qualification: "QAST II Interpreting"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.qast_3_interpreting? %>
              <%= link_to "Remove QAST III Interpreting", revoke_qualification_user_path(id: @user.id, qualification: "QAST III Interpreting"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add QAST III Interpreting", promote_qualification_user_path(id: @user.id, qualification: "QAST III Interpreting"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <% if @user.qast_4_interpreting? %>
              <%= link_to "Remove QAST IV Interpreting", revoke_qualification_user_path(id: @user.id, qualification: "QAST IV Interpreting"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add QAST IV Interpreting", promote_qualification_user_path(id: @user.id, qualification: "QAST IV Interpreting"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.qast_5_interpreting? %>
              <%= link_to "Remove QAST V Interpreting", revoke_qualification_user_path(id: @user.id, qualification: "QAST V Interpreting"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add QAST V Interpreting", promote_qualification_user_path(id: @user.id, qualification: "QAST V Interpreting"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.qast_1_transliterating? %>
              <%= link_to "Remove QAST I Transliterating", revoke_qualification_user_path(id: @user.id, qualification: "QAST I Transliterating"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add QAST I Transliterating", promote_qualification_user_path(id: @user.id, qualification: "QAST I Transliterating"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <% if @user.qast_2_transliterating? %>
              <%= link_to "Remove QAST II Transliterating", revoke_qualification_user_path(id: @user.id, qualification: "QAST II Transliterating"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add QAST II Transliterating", promote_qualification_user_path(id: @user.id, qualification: "QAST II Transliterating"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.qast_3_transliterating? %>
              <%= link_to "Remove QAST III Transliterating", revoke_qualification_user_path(id: @user.id, qualification: "QAST III Transliterating"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add QAST III Transliterating", promote_qualification_user_path(id: @user.id, qualification: "QAST III Transliterating"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.qast_4_transliterating? %>
              <%= link_to "Remove QAST IV Transliterating", revoke_qualification_user_path(id: @user.id, qualification: "QAST IV Transliterating"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add QAST IV Transliterating", promote_qualification_user_path(id: @user.id, qualification: "QAST IV Transliterating"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <% if @user.qast_5_transliterating? %>
              <%= link_to "Remove QAST V Transliterating", revoke_qualification_user_path(id: @user.id, qualification: "QAST V Transliterating"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add QAST V Transliterating", promote_qualification_user_path(id: @user.id, qualification: "QAST V Transliterating"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.rid_ci? %>
              <%= link_to "Remove RID CI", revoke_qualification_user_path(id: @user.id, qualification: "RID CI"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add RID CI", promote_qualification_user_path(id: @user.id, qualification: "RID CI"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.rid_ct? %>
              <%= link_to "Remove RID CT", revoke_qualification_user_path(id: @user.id, qualification: "RID CT"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add RID CT", promote_qualification_user_path(id: @user.id, qualification: "RID CT"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <% if @user.rid_cdi? %>
              <%= link_to "Remove RID CDI", revoke_qualification_user_path(id: @user.id, qualification: "RID CDI"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add RID CDI", promote_qualification_user_path(id: @user.id, qualification: "RID CDI"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.di? %>
              <%= link_to "Remove DI", revoke_qualification_user_path(id: @user.id, qualification: "DI"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add DI", promote_qualification_user_path(id: @user.id, qualification: "DI"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.nic? %>
              <%= link_to "Remove NIC", revoke_qualification_user_path(id: @user.id, qualification: "NIC"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add NIC", promote_qualification_user_path(id: @user.id, qualification: "NIC"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <% if @user.nic_advanced? %>
              <%= link_to "Remove NIC Advanced", revoke_qualification_user_path(id: @user.id, qualification: "NIC Advanced"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add NIC Advanced", promote_qualification_user_path(id: @user.id, qualification: "NIC Advanced"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.nic_master? %>
              <%= link_to "Remove NIC Master", revoke_qualification_user_path(id: @user.id, qualification: "NIC Master"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add NIC Master", promote_qualification_user_path(id: @user.id, qualification: "NIC Master"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.rid_sc_l? %>
              <%= link_to "Remove RID SC:L", revoke_qualification_user_path(id: @user.id, qualification: "RID SC:L"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add RID SC:L", promote_qualification_user_path(id: @user.id, qualification: "RID SC:L"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <% if @user.bei? %>
              <%= link_to "Remove BEI", revoke_qualification_user_path(id: @user.id, qualification: "BEI"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add BEI", promote_qualification_user_path(id: @user.id, qualification: "BEI"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.bei_advanced? %>
              <%= link_to "Remove BEI Advanced", revoke_qualification_user_path(id: @user.id, qualification: "BEI Advanced"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add BEI Advanced", promote_qualification_user_path(id: @user.id, qualification: "BEI Advanced"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
          <td>
            <% if @user.bei_master? %>
              <%= link_to "Remove BEI Master", revoke_qualification_user_path(id: @user.id, qualification: "BEI Master"), class: "btn btn-success", role:"button" %>
            <% else %>
              <%= link_to "Add BEI Master", promote_qualification_user_path(id: @user.id, qualification: "BEI Master"), class: "btn btn-danger", role:"button" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- /.table table-striped table-hover -->
  </div>
  <!-- /.panel-body -->
</div>
<!-- /. panel panel-info -->