<% if @completed_jobs.count == 0 %>
  <%= render 'layouts/no_results_found_alert' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Contact
        </th>
        <th>
          Location
        </th>
        <th>
          Start Date
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <% @completed_jobs.each do |completed_job| %>
        <tr>
          <td>
            <%= link_to "Job ##{completed_job.id}", completed_job %>
          </td>
          <td>
            <%= link_to "#{completed_job.contact_person_first_name} #{completed_job.contact_person_last_name}", completed_job %>
          </td>
          <td>
            <%= completed_job.city %>, <%= completed_job.state %>
          </td>
          <td>
            <%= completed_job.start_date.to_formatted_s(:long_ordinal) %>
          </td>
          <td>
            <% @interpreter_invoice = InterpreterInvoice.where(user_id: current_user.id, job_id: completed_job.id).first %>
            <% if completed_job.job_status_processed? %>
              <span class="label label-success">Processed</span>
            <% elsif completed_job.start_date >= Date.today && !completed_job.invoice_submitted? && !@interpreter_invoice %>
              <span class="label label-warning">Awaiting Your Invoice</span>
            <% elsif completed_job.start_date >= Date.today && !completed_job.invoice_submitted? && @interpreter_invoice %>
              <span class="label label-success">Waiting for Manager</span>
            <% elsif completed_job.start_date >= Date.today && completed_job.invoice_submitted? %>
              <span class="label label-success">Invoice Submitted</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- /.table table-striped table-hover -->
<% end %>
