<% if @current_jobs.count == 0 %>
  <%= render 'layouts/no_results_found_alert' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Contact
        </th>
        <th>
          Location
        </th>
        <th>
          Start Date
        </th>
        <th>
          Start Time
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <% @current_jobs.each do |current_job| %>
        <tr>
          <td>
            <%= link_to "Job ##{current_job.id}", current_job %>
          </td>
          <td>
            <%= link_to "#{current_job.contact_person_first_name} #{current_job.contact_person_last_name}", current_job %>
          </td>
          <td>
            <%= current_job.city %>, <%= current_job.state %>
          </td>
          <td>
            <%= current_job.start_date.to_formatted_s(:long_ordinal) %>
          </td>
          <td>
            <% if current_job.start_time? %>
              <%= current_job.start_time.strftime("%l:%M %p") %>
            <% end %>
          </td>
          <td>
            <% @interpreter_invoice = InterpreterInvoice.where(user_id: current_user.id, job_id: current_job.id).first %>
            <% if current_job.job_status_processed? %>
              <span class="label label-success">Processed</span>
            <% elsif current_job.start_date >= Date.today && !current_job.invoice_submitted? && !@interpreter_invoice %>
              <span class="label label-warning">Awaiting Your Invoice</span>
            <% elsif current_job.start_date >= Date.today && !current_job.invoice_submitted? && @interpreter_invoice %>
              <span class="label label-success">Waiting for Manager</span>
            <% elsif current_job.start_date >= Date.today && current_job.invoice_submitted? %>
              <span class="label label-success">Invoice Submitted</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- /.table table-striped table-hover -->
<% end %>
