<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      Search by: Vendor Number, First Name, Last Name, Email, or Phone Number
    </h3>
    <!-- /.panel-title -->
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <% if params[:search].present? %>
      <%= simple_form_for :search,  url: users_path , :method => :get do |f| %>
        <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
        <%= f.submit "Search" %>
      <% end %>
    <% else %>
      <%= simple_form_for :search,  url: users_path , :method => :get do |f| %>
        <%= f.input :query, :autofocus => true %>
        <%= f.submit "Search" %>
      <% end %>
    <% end %>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel panel-info -->
