<%= render 'layouts/interpreter_or_manager_or_customer_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">
        <% if user_logged_in? && current_user.approved? %>
          <% provide(:title, 'Current Jobs') %>
          Current Jobs
        <% elsif user_logged_in? && !current_user.approved? %>
          <% provide(:title, 'Awaiting Approval') %>
          Awaiting Approval
        <% elsif customer_logged_in? && !current_customer.approved? %>
          <% provide(:title, 'Awaiting Approval') %>
          Awaiting Approval
        <% elsif customer_logged_in? && current_customer.approved? %>
          <% provide(:title, 'Current Jobs') %>
          Current Jobs
        <% end %>
      </h3>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <% if user_logged_in? && !current_user.manager? && !current_user.approved? %>
    <%= render 'layouts/please_wait_for_tsha_to_approve_you' %>
  <% elsif customer_logged_in? && !current_customer.approved? %>
    <%= render 'layouts/please_wait_for_tsha_to_approve_you' %>
  <% end %>
  <% if user_logged_in? && current_user.approved? && !current_user.manager? %>
		<%= render 'interpreter_current_jobs_table' %>
  <% elsif user_logged_in? && current_user.manager? %>
    <%= render 'manager_current_jobs_table' %>
  <% elsif customer_logged_in? %>
    <%= render 'customer_current_jobs_table' %>
  <% end %>
</div>
<!-- /.page-wrapper -->
