<% provide(:title, 'All Interpreters') %>
<%= render 'layouts/manager_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">
        All Interpreters
      </h3>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <%= render 'interpreter_search' %>
  <%= will_paginate %>
  <%= render 'interpreters_table' %>
	<%= will_paginate %>
</div>
<!-- /.page-wrapper -->
