<% provide(:title, 'All Interpreters') %>
<%= render 'layouts/manager_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">
        All Interpreters
      </h3>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Search by: ID, First Name, Last Name, Email, or Phone Number
      </h3>
      <!-- /.panel-title -->
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <% if params[:search].present? %>
        <% if params[:search][:joined_after].present? %>
          <% if params[:search][:joined_before].present? %>
            <% if params[:search][:query].present? %>
              <%= simple_form_for :search,  url: users_path , :method => :get do |f| %>
                <%= f.input :joined_after, as: :date_time_picker, input_html: { value: params[:search][:joined_after] } %>
                <%= f.input :joined_before, as: :second_date_time_picker, input_html: { value: params[:search][:joined_before] } %>
                <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
                <%= f.submit "Search" %>
              <% end %>
            <% else %>
              <%= simple_form_for :search,  url: users_path , :method => :get do |f| %>
                <%= f.input :joined_after, as: :date_time_picker, input_html: { value: params[:search][:joined_after] } %>
                <%= f.input :joined_before, as: :second_date_time_picker, input_html: { value: params[:search][:joined_before] } %>
                <%= f.input :query, :autofocus => true %>
                <%= f.submit "Search" %>
              <% end %>
            <% end %>
          <% elsif params[:search][:query].present? %>
            <%= simple_form_for :search,  url: users_path , :method => :get do |f| %>
              <%= f.input :joined_after, as: :date_time_picker, input_html: { value: params[:search][:joined_after] } %>
              <%= f.input :joined_before, as: :second_date_time_picker %>
              <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
              <%= f.submit "Search" %>
            <% end %>
          <% else %>
            <%= simple_form_for :search,  url: users_path , :method => :get do |f| %>
              <%= f.input :joined_after, as: :date_time_picker, input_html: { value: params[:search][:joined_after] } %>
              <%= f.input :joined_before, as: :second_date_time_picker %>
              <%= f.input :query, :autofocus => true %>
              <%= f.submit "Search" %>
            <% end %>
          <% end %>
        <% elsif params[:search][:joined_before].present? %>
          <% if params[:search][:query].present? %>
            <%= simple_form_for :search,  url: users_path , :method => :get do |f| %>
              <%= f.input :joined_after, as: :date_time_picker %>
              <%= f.input :joined_before, as: :second_date_time_picker, input_html: { value: params[:search][:joined_before] } %>
              <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
              <%= f.submit "Search" %>
            <% end %>
          <% else %>
            <%= simple_form_for :search,  url: users_path , :method => :get do |f| %>
              <%= f.input :joined_after, as: :date_time_picker %>
              <%= f.input :joined_before, as: :second_date_time_picker, input_html: { value: params[:search][:joined_before] } %>
              <%= f.input :query, :autofocus => true %>
              <%= f.submit "Search" %>
            <% end %>
          <% end %>
        <% else %>
          <%= simple_form_for :search,  url: users_path , :method => :get do |f| %>
            <%= f.input :joined_after, as: :date_time_picker %>
            <%= f.input :joined_before, as: :second_date_time_picker %>
            <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
            <%= f.submit "Search" %>
          <% end %>
        <% end %>
      <% else %>
        <%= simple_form_for :search,  url: users_path , :method => :get do |f| %>
          <%= f.input :joined_after, as: :date_time_picker %>
          <%= f.input :joined_before, as: :second_date_time_picker %>
          <%= f.input :query, :autofocus => true %>
          <%= f.submit "Search" %>
        <% end %>
      <% end %>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel panel-info -->

  <script type="text/javascript">
    $('.form_datetime').datetimepicker({
      autoclose: true,
      todayBtn: true,
      pickerPosition: "bottom-left",
      format: 'mm-dd-yyyy hh:ii'
    });
    $('.second_form_datetime').datetimepicker({
      autoclose: true,
      todayBtn: true,
      pickerPosition: "bottom-left",
      format: 'mm-dd-yyyy hh:ii'
    });
  </script>

	<%= will_paginate %>

  <% if @users.count == 0 %>
    <div class="alert alert-info" role="alert">No results found.</div>
  <% end %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Role
        </th>
        <th>
          Name
        </th>
        <th>
          Email
        </th>
        <th>
          Joined
        </th>
        <th>
          Approved?
        </th>
        <th>
          Active?
        </th>
      </tr>
    </thead>
    <tbody>
      <%= render @users %>
    </tbody>
  </table>
  <!-- /.table table-striped -->
  
	<%= will_paginate %>
</div>
<!-- /.page-wrapper -->
