<% provide(:title, 'Pending Interpreters') %>
<%= render 'layouts/manager_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">
        Pending Interpreters
      </h3>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <%= render 'pending_user_search' %>
  <%= will_paginate @pending_users %>
  <%= render 'pending_users_table' %>
  <%= will_paginate @pending_users %>
</div>
<!-- /.page-wrapper -->
