<% provide(:title, 'Pending Interpreters') %>
<%= render 'layouts/manager_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Pending Interpreters
      </h1>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        Search by: ID, First Name, Last Name, Email, or Phone Number
      </h3>
      <!-- /.panel-title -->
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <% if params[:search].present? %>
        <% if params[:search][:account_requested_after].present? %>
          <% if params[:search][:account_requested_before].present? %>
            <% if params[:search][:query].present? %>
              <%= simple_form_for :search,  url: pending_interpreters_path , :method => :get do |f| %>
                <%= f.input :account_requested_after, as: :date_time_picker, input_html: { value: params[:search][:account_requested_after] } %>
                <%= f.input :account_requested_before, as: :second_date_time_picker, input_html: { value: params[:search][:account_requested_before] } %>
                <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
                <%= f.submit "Search" %>
              <% end %>
            <% else %>
              <%= simple_form_for :search,  url: pending_interpreters_path , :method => :get do |f| %>
                <%= f.input :account_requested_after, as: :date_time_picker, input_html: { value: params[:search][:account_requested_after] } %>
                <%= f.input :account_requested_before, as: :second_date_time_picker, input_html: { value: params[:search][:account_requested_before] } %>
                <%= f.input :query, :autofocus => true %>
                <%= f.submit "Search" %>
              <% end %>
            <% end %>
          <% elsif params[:search][:query].present? %>
            <%= simple_form_for :search,  url: pending_interpreters_path , :method => :get do |f| %>
              <%= f.input :account_requested_after, as: :date_time_picker, input_html: { value: params[:search][:account_requested_after] } %>
              <%= f.input :account_requested_before, as: :second_date_time_picker %>
              <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
              <%= f.submit "Search" %>
            <% end %>
          <% else %>
            <%= simple_form_for :search,  url: pending_interpreters_path , :method => :get do |f| %>
              <%= f.input :account_requested_after, as: :date_time_picker, input_html: { value: params[:search][:account_requested_after] } %>
              <%= f.input :account_requested_before, as: :second_date_time_picker %>
              <%= f.input :query, :autofocus => true %>
              <%= f.submit "Search" %>
            <% end %>
          <% end %>
        <% elsif params[:search][:account_requested_before].present? %>
          <% if params[:search][:query].present? %>
            <%= simple_form_for :search,  url: pending_interpreters_path , :method => :get do |f| %>
              <%= f.input :account_requested_after, as: :date_time_picker %>
              <%= f.input :account_requested_before, as: :second_date_time_picker, input_html: { value: params[:search][:account_requested_before] } %>
              <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
              <%= f.submit "Search" %>
            <% end %>
          <% else %>
            <%= simple_form_for :search,  url: pending_interpreters_path , :method => :get do |f| %>
              <%= f.input :account_requested_after, as: :date_time_picker %>
              <%= f.input :account_requested_before, as: :second_date_time_picker, input_html: { value: params[:search][:account_requested_before] } %>
              <%= f.input :query, :autofocus => true %>
              <%= f.submit "Search" %>
            <% end %>
          <% end %>
        <% else %>
          <%= simple_form_for :search,  url: pending_interpreters_path , :method => :get do |f| %>
            <%= f.input :account_requested_after, as: :date_time_picker %>
            <%= f.input :account_requested_before, as: :second_date_time_picker %>
            <%= f.input :query, :autofocus => true, input_html: { value: params[:search][:query] } %>
            <%= f.submit "Search" %>
          <% end %>
        <% end %>
      <% else %>
        <%= simple_form_for :search,  url: pending_interpreters_path , :method => :get do |f| %>
          <%= f.input :account_requested_after, as: :date_time_picker %>
          <%= f.input :account_requested_before, as: :second_date_time_picker %>
          <%= f.input :query, :autofocus => true %>
          <%= f.submit "Search" %>
        <% end %>
      <% end %>
    </div>
    <!-- /.panel-body -->
  </div>
  <!-- /.panel panel-info -->

  <script type="text/javascript">
    $('.form_datetime').datetimepicker({
      autoclose: true,
      todayBtn: true,
      pickerPosition: "bottom-left",
      format: 'mm-dd-yyyy hh:ii'
    });
    $('.second_form_datetime').datetimepicker({
      autoclose: true,
      todayBtn: true,
      pickerPosition: "bottom-left",
      format: 'mm-dd-yyyy hh:ii'
    });
  </script>

  <%= will_paginate @pending_users %>

  <% if @pending_users.count == 0 %>
    <div class="alert alert-info" role="alert">No results found.</div>
  <% end %>
  <% if current_user.manager? %>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>
            ID
          </th>
          <th>
            Name
          </th>
          <th>
            Email
          </th>
          <th>
            Gender
          </th>
          <th>
            Time of Account Request
          </th>
          <th>
            Manager Action?
          </th>
        </tr>
      </thead>
      <tbody>
        <% @pending_users.each do |pending_user| %>
          <tr>
            <td>
              <%= link_to "#{pending_user.id}", pending_user %>
            </td>
            <td>
              <%= link_to "#{pending_user.first_name} #{pending_user.last_name}", pending_user %>
            </td>
            <td>
              <%= link_to "#{pending_user.email}", pending_user %>
            </td>
            <td>
              <%= pending_user.gender %>
            </td>
            <td>
              <%= pending_user.created_at.strftime("%A, %d %b %Y %l:%M %p") %>
            </td>
            <td>
              <div class="btn-group" role="group" aria-label="Justified button group">
                <%= link_to "Approve", approve_account_user_path(id: pending_user.id), class: "btn btn-success", role:"button", :data => {:confirm => "Are you sure you want to approve #{pending_user.first_name} #{pending_user.last_name}'s account? They will be notified via email."} %>
                <%= link_to "Deny", pending_user, method: :delete, class: "btn btn-danger", role:"button", :data => {:confirm => "Are you sure you want to permanently deny #{pending_user.first_name} #{pending_user.last_name}'s account request? They will be notified via email. (Warning: This cannot be reversed.)"} %>
              </div>
              <!-- /.btn-group btn-group-justified -->
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <!-- /.table table-striped table-hover -->

    <%= will_paginate @pending_users %>

  <% end %>  
</div>
<!-- /.page-wrapper -->
