<% if @user_invoices.count == 0 %>
  <%= render 'layouts/no_results_found_alert' %>
<% else %>
	<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Job
        </th>
        <th>
          Start
        </th>
        <th>
          End
        </th>
        <th>
          <% if current_user.manager? %>
            Manager Invoice?
          <% else %>
            TSHA Invoice?
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @user_invoices.each do |user_invoice| %>
        <tr>
          <td>
            <%= link_to "Invoice ##{user_invoice.id}", user_invoice %>
          </td>
          <td>
            <%= link_to "Job ##{user_invoice.job.id}", user_invoice.job %>
          <td>
            <%= user_invoice.start.strftime("%A, %d %b %Y %l:%M %p") %>
          </td>
          <td>
            <%= user_invoice.end.strftime("%A, %d %b %Y %l:%M %p") %>
          </td>
          <td>
            <% @manager_invoice = user_invoice.manager_invoices.first %>
            <% if @manager_invoice %>
              <% if current_user.manager? %>
                <%= link_to "Manager Invoice ##{@manager_invoice.id}", @manager_invoice %>
              <% else %>
                <%= link_to "TSHA Invoice ##{@manager_invoice.id}", @manager_invoice %>
              <% end %>
            <% else %>
              <span class="label label-warning">Waiting on Manager Invoice</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- /.table table-striped table-hover -->
<% end %>
