<%= render 'layouts/interpreter_or_manager_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h3 class="page-header">
        <% if user_logged_in? && current_user.manager? %>
          <% provide(:title, 'All Interpreter Invoices') %>
          All Interpreter Invoices
        <% elsif user_logged_in? && !current_user.manager? && current_user.approved? %>
          <% provide(:title, 'Your Submitted Invoices') %>
          Your Submitted Invoices
        <% end %>
      </h3>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <% if user_logged_in? && !current_user.manager? && !current_user.approved? %>
    <%= render 'layouts/please_wait_for_tsha_to_approve_you' %>
  <% end %>
  <% if user_logged_in? && current_user.approved? && current_user.active? && !current_user.manager? %>
    <%= render 'interpreter_interpreter_invoices_table' %>
  <% elsif user_logged_in? && current_user.manager? %>
    <%= render 'interpreter_invoice_search' %>
    <%= will_paginate @user_invoices %>
    <%= render 'interpreter_invoices_table' %>
    <%= will_paginate @user_invoices %>
  <% end %>
</div>
<!-- /.page-wrapper -->
