<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>
        Change Customer's TSHA #
      </h4>
      <%= form_for @customer, url: change_tsha_number_customer_path(@customer) do |f| %>
        <%= f.text_field :tsha_number %>
        <button type="submit" class="button">Update TSHA #</button>
      <% end %>
    </div>
    <!-- /.col-md-3 -->
    <div class="col-md-3">
      <h4>
        Change Customer's Fund #
      </h4>
      <%= form_for @customer, url: change_fund_number_customer_path(@customer) do |f| %>
        <%= f.text_field :fund_number %>
        <button type="submit" class="button">Update Fund #</button>
      <% end %>
    </div>
    <!-- /.col-md-3 -->
    <div class="col-md-3">
      <h4>
        Change Customer's Notes
      </h4>
      <%= form_for @customer, url: change_customer_notes_customer_path(@customer) do |f| %>
        <%= f.text_field :customer_notes %>
        <button type="submit" class="button">Update Notes</button>
      <% end %>
    </div>
    <!-- /.col-md-3 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
