<% if @pending_job_requests.count == 0 %>
  <%= render 'layouts/no_results_found_alert' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Deaf Client
        </th>
        <th>
          Contact Person
        </th>
        <th>
          Start Date
        </th>
        <th>
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <% @pending_job_requests.each do |pending_job_request| %>
        <tr>
          <td>
            <%= link_to "#{pending_job_request.id}", pending_job_request %>
          </td>
          <td>
            <%= link_to "#{pending_job_request.deaf_client_first_name} #{pending_job_request.deaf_client_last_name}", pending_job_request %>
          </td>
          <td>
            <%= link_to "#{pending_job_request.contact_person_first_name} #{pending_job_request.contact_person_last_name}", pending_job_request %>
          </td>
          <td>
            <%= pending_job_request.start_date.to_formatted_s(:long_ordinal) %>
          </td>
          <td>
            <% if pending_job_request.awaiting_approval? %>
              <span class="label label-warning">Awaiting Approval</span>
            <% elsif pending_job_request.accepted? %>
              <span class="label label-success">Approved</span>
            <% elsif pending_job_request.denied? %>
              <span class="label label-danger">Rejected</span>
            <% elsif pending_job_request.expired? %>
              <span class="label label-danger">Expired</span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <!-- /.table table-striped table-hover -->
<% end %>
