<% provide(:title, 'Create A Customer') %>
<% if user_logged_in? && current_user.manager? %>
  <%= render 'layouts/manager_dashboard' %>
<div id="page-wrapper">
<% end %>
  <%= render 'layouts/alerts' %>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        <% if user_logged_in? %>
          Create a Customer
        <% else %>
          Sign Up
        <% end %>
      </h1>
      <!-- /.page-header -->
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= simple_form_for @customer do |f| %>
        <%= f.input :customer_name %>
        <%= f.input :email %>
        <%= f.input :password %>
        <%= f.input :password_confirmation %>
        <%= f.input :contact_first_name %>
        <%= f.input :contact_last_name %>
        <%= f.input :billing_address_line_1 %>
        <%= f.input :billing_address_line_2 %>
        <%= f.input :billing_address_line_3 %>
        <%= f.input :mail_address_line_1 %>
        <%= f.input :mail_address_line_2 %>
        <%= f.input :mail_address_line_3 %>
        <%= f.input :phone_number %>
        <%= f.input :phone_number_extension %>
        <%= f.input :contact_phone_number %>
        <%= f.input :contact_phone_number_extension %>
        <%= f.input :fax %>
        <%= f.submit "Create Customer", class: "btn btn-primary" %>
      <% end %>
    </div>
    <!-- /.col-md-4 col-md-offset-4 -->
  </div>
  <!-- /.row -->
<% if user_logged_in? && current_user.manager? %>
</div>
<!-- /.page-wrapper -->
<% end %>
