<% provide(:title, @customer.customer_name) %>
<%= render 'layouts/manager_or_customer_dashboard' %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <aside class="col-lg-12">
      <section class="user_info">
        <%= render 'name_and_contact' %>
        <% if @customer.approved? && user_logged_in? && current_user.admin? %>
          <%= render 'admin_options' %>
        <% elsif !@customer.approved? && user_logged_in? && current_user.manager? %>
          <%= render 'manager_options' %>
        <% end %>
        <%= render 'customer_info_table' %>
        <% if @customer.approved? && user_logged_in? && current_user.manager? %>
          <h4>
            Change Customer's TSHA #
          </h4>
          <%= form_for @customer, url: change_tsha_number_customer_path(@customer) do |f| %>
            <%= f.text_field :tsha_number %>
            <button type="submit" class="button">Update TSHA #</button>
          <% end %>
          <h4>
            Change Customer's Fund #
          </h4>
          <%= form_for @customer, url: change_fund_number_customer_path(@customer) do |f| %>
            <%= f.text_field :fund_number %>
            <button type="submit" class="button">Update Fund #</button>
          <% end %>
        <% end %>
        <%= render 'customer_addresses' %>
        <% if @customer.approved? && user_logged_in? && current_user.manager? %>
          <%= render 'jobs_table' %>
        <% end %>
    	</section>
    	<!-- /.user_info -->
  	</aside>
  	<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
</div>
<!-- /.page-wrapper -->
