<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Interpreter
      </th>
      <th>
        Job
      </th>
      <th>
        Start
      </th>
      <th>
        End
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @manager_invoice.id %>
      </td>
      <td>
        <% if user_logged_in? %>
          <%= link_to "#{@manager_invoice.user.first_name} #{@manager_invoice.user.last_name}", @manager_invoice.user %>
        <% else %>
          <%= @manager_invoice.user.first_name %> <%= @manager_invoice.user.last_name %>
        <% end %>
      </td>
      <td>
        <%= link_to "Job ##{@manager_invoice.job.id}", @manager_invoice.job %>
      </td>
      <td>
        <%= @manager_invoice.start.strftime("%A, %d %b %Y %l:%M %p") %>
      </td>
      <td>
        <%= @manager_invoice.end.strftime("%A, %d %b %Y %l:%M %p") %>
      </td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>
        Job Type
      </th>
      <th>
        Contact Person
      </th>
      <th>
        Contact Person Phone
      </th>
      <th>
        Miles (50 Miles or Below)
      </th>
      <th>
        Mile Rate (50 Miles or Below)
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @manager_invoice.job_type %>
      </td>
      <td>
        <%= @manager_invoice.contact_person_first_name %> <%= @manager_invoice.contact_person_last_name %>
      </td>
      <td>
        <%= @manager_invoice.contact_person_phone_number %>
      </td>
      <td>
        <%= @manager_invoice.miles %>
      </td>
      <td>
        <%= @manager_invoice.mile_rate %>
      </td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>
        Interpreting Hours (Regular)
      </th>
      <th>
        Interpreting Rate (Regular)
      </th>
      <th>
        Miles (Over 50 Miles)
      </th>
      <th>
        Mile Rate (Over 50 Miles)
      </th>
      <th>
        Interpreting Hours (After Hour)
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @manager_invoice.interpreting_hours %>
      </td>
      <td>
        <%= @manager_invoice.interpreting_rate %>
      </td>
      <td>
        <%= @manager_invoice.extra_miles %>
      </td>
      <td>
        <%= @manager_invoice.extra_mile_rate %>
      </td>
      <td>
        <%= @manager_invoice.extra_interpreting_hours %>
      </td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>
        Interpreting Rate (After Hour)
      </th>
      <th>
        <% if user_logged_in? %>
          Original Interpreter Invoice
        <% end %>
      </th>
      <th>
        
      </th>
      <th>
        
      </th>
      <th>
        
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @manager_invoice.extra_interpreting_rate %>
      </td>
      <td>
        <% if user_logged_in? %>
          <%= link_to "Interpreter Invoice ##{@manager_invoice.interpreter_invoice.id}", @manager_invoice.interpreter_invoice %>
        <% end %>
      </td>
      <td>

      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>
  </tbody>
</table>
<!-- /.table table-striped table-hover -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      Address:
    </h3>
    <!-- /.panel-title -->
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <% if @manager_invoice.event_location_address_line_1.length != 0 %>
      <%= @manager_invoice.event_location_address_line_1 %>
    <% end %>
    <% if @manager_invoice.event_location_address_line_2.length != 0 %>
      <br>
      <%= @manager_invoice.event_location_address_line_2 %>
    <% end %>
    <% if @manager_invoice.event_location_address_line_3.length != 0 %>
      <br>
      <%= @manager_invoice.event_location_address_line_3 %>
    <% end %>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /. panel panel-info -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      Interpreter Comments:
    </h3>
    <!-- /.panel-title -->
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <% if @manager_invoice.interpreter_comments.length != 0 %>
      <%= @manager_invoice.interpreter_comments %>
    <% else %>
      N/A
    <% end %>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /. panel panel-info -->
