<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>
        ID
      </th>
      <th>
        Interpreter
      </th>
      <th>
        Job
      </th>
      <th>
        Start Date
      </th>
      <th>
        Start Time
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @manager_invoice.id %>
      </td>
      <td>
        <% if user_logged_in? %>
          <%= link_to "#{@manager_invoice.user.first_name} #{@manager_invoice.user.last_name}", @manager_invoice.user %>
        <% else %>
          <%= @manager_invoice.user.first_name %> <%= @manager_invoice.user.last_name %>
        <% end %>
      </td>
      <td>
        <%= link_to "Job ##{@manager_invoice.job.id}", @manager_invoice.job %>
      </td>
      <td>
        <%= @manager_invoice.start_date.to_formatted_s(:long_ordinal) %>
      </td>
      <td>
        <% if @manager_invoice.start_time? %>
          <%= @manager_invoice.start_time.strftime("%A, %d %b %Y %l:%M %p") %>
        <% end %>
      </td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>
        Requested End Time
      </th>
      <th>
        Actual End Time
      </th>
      <th>
        Job Type
      </th>
      <th>
        Contact Person
      </th>
      <th>
        Contact Person Phone
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <% if @manager_invoice.requested_end_time? %>
          <%= @manager_invoice.requested_end_time.strftime("%A, %d %b %Y %l:%M %p") %>
        <% end %>
      </td>
      <td>
        <% if @manager_invoice.actual_end_time? %>
          <%= @manager_invoice.actual_end_time.strftime("%A, %d %b %Y %l:%M %p") %>
        <% end %>
      </td>
      <td>
        <%= @manager_invoice.job_type %>
      </td>
      <td>
        <%= @manager_invoice.contact_person_first_name %> <%= @manager_invoice.contact_person_last_name %>
      </td>
      <td>
        <%= @manager_invoice.contact_person_phone_number %>
      </td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>
        Miles
      </th>
      <th>
        Mile Rate
      </th>
      <th>
        Misc. Travel
      </th>
      <th>
        Interpreting Hours (Regular)
      </th>
      <th>
        Interpreting Rate (Regular)
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @manager_invoice.miles %>
      </td>
      <td>
        <%= number_to_currency(@manager_invoice.mile_rate) %>
      </td>
      <td>
        <%= number_to_currency(@manager_invoice.misc_travel) %>
      </td>
      <td>
        <%= @manager_invoice.interpreting_hours %>
      </td>
      <td>
        <%= number_to_currency(@manager_invoice.interpreting_rate) %>
      </td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>
        Interpreting Hours (After Hour)
      </th>
      <th>
        Interpreting Rate (After Hour)
      </th>
      <th>
        Legal Hours (Regular)
      </th>
      <th>
        Legal Rate (Regular)
      </th>
      <th>
        Legal Hours (After Hour)
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @manager_invoice.extra_interpreting_hours %>
      </td>
      <td>
        <%= number_to_currency(@manager_invoice.extra_interpreting_rate) %>
      </td>
      <td>
        <%= @manager_invoice.legal_hours %>
      </td>
      <td>
        <%= number_to_currency(@manager_invoice.legal_rate) %>
      </td>
      <td>
        <%= @manager_invoice.extra_legal_hours %>
      </td>      
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>
        Legal Rate (After Hour)
      </th>
      <th>
        Total
      </th>
      <th>
        <% if user_logged_in? %>
          Original Interpreter Invoice
        <% end %>
      </th>
      <th>
        <% if user_logged_in? && current_user.manager? %>
          Status
        <% end %>
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= number_to_currency(@manager_invoice.extra_legal_rate) %>
      </td>
      <td>
        <%= number_to_currency(@total) %>
      </td>
      <td>
        <% if user_logged_in? %>
          <%= link_to "Interpreter Invoice ##{@manager_invoice.interpreter_invoice.id}", @manager_invoice.interpreter_invoice %>
        <% end %>
      </td>
      <td>
        <% if user_logged_in? && current_user.manager? %>
          <% if @manager_invoice.processed? %>
            <span class="label label-success">Processed</span>
          <% else %>
            <span class="label label-warning">Not Processed</span>
          <% end %>
        <% end %>
      </td>
      <td>
      </td>
    </tr>
  </tbody>
</table>
<!-- /.table table-striped table-hover -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      Address:
    </h3>
    <!-- /.panel-title -->
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <% if @manager_invoice.event_location_address_line_1.length != 0 %>
      <%= @manager_invoice.event_location_address_line_1 %>
    <% end %>
    <% if @manager_invoice.event_location_address_line_2.length != 0 %>
      <br>
      <%= @manager_invoice.event_location_address_line_2 %>
    <% end %>
    <% if @manager_invoice.event_location_address_line_3.length != 0 %>
      <br>
      <%= @manager_invoice.event_location_address_line_3 %>
    <% end %>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /. panel panel-info -->
<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">
      Interpreter Comments:
    </h3>
    <!-- /.panel-title -->
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <% if @manager_invoice.interpreter_comments.length != 0 %>
      <%= @manager_invoice.interpreter_comments %>
    <% else %>
      N/A
    <% end %>
  </div>
  <!-- /.panel-body -->
</div>
<!-- /. panel panel-info -->
