<% if user_logged_in? %>
  <%= will_paginate @manager_invoices %>
<% end %>

<% if @manager_invoices.count == 0 %>
  <%= render 'layouts/no_results_found_alert' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>
          ID
        </th>
        <th>
          Job
        </th>
        <th>
          Interpreter
        </th>
        <% if user_logged_in? && current_user.manager? %>
          <th>
            Customer
          </th>
        <% end %>
        <th>
          Total
        </th>
        <% if user_logged_in? && current_user.manager? %>
          <th>
            Status
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @manager_invoices.each do |manager_invoice| %>
        <tr>
          <td>
            <%= link_to "Invoice ##{manager_invoice.id}", manager_invoice %>
          </td>
          <td>
            <%= link_to "Job ##{manager_invoice.job.id}", manager_invoice.job %>
          </td>
          <td>
            <% if user_logged_in? %>
              <%= link_to "#{manager_invoice.user.first_name} #{manager_invoice.user.last_name}", manager_invoice.user %>
            <% else %>
              <%= manager_invoice.user.first_name %> <%= manager_invoice.user.last_name %>
            <% end %>
          </td>
          <% if user_logged_in? && current_user.manager? %>
            <td>
              <%= link_to "#{manager_invoice.job.customer.customer_name}", manager_invoice.job.customer %>
            </td>
          <% end %>
          <td>
            <%= number_to_currency(manager_invoice.total_amount) %>
          </td>
          <% if user_logged_in? && current_user.manager? %>
            <td>
              <% if manager_invoice.processed? %>
                <span class="label label-success">Processed</span>
              <% else %>
                <span class="label label-warning">Not Processed</span>
              <% end %>
            </td>
          <% end %>
       </tr>
      <% end %>
    </tbody>
  </table>
  <!-- /.table table-striped table-hover -->
<% end %>

<% if user_logged_in? %>
  <%= will_paginate @manager_invoices %>
<% end %>
