<% if user_logged_in? && current_user.manager? %>
  <%= render 'layouts/manager_dashboard' %>
<% elsif user_logged_in? && !current_user.manager? %>
  <%= render 'layouts/interpreter_dashboard' %>
<% elsif customer_logged_in? %>
  <%= render 'layouts/customer_dashboard' %>
<% end %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <aside class="col-lg-12">
      <h3 class="page-header">
        <% if customer_logged_in? %>
          <% provide(:title, "TSHA Invoice #{@manager_invoice.id}") %>
          TSHA Invoice #<%= @manager_invoice.id %>
        <% else %>
          <% provide(:title, "Manager Invoice #{@manager_invoice.id}") %>
          Manager Invoice #<%= @manager_invoice.id %>
        <% end %>
      </h3>
      <!-- /.page-header -->
      <section class="user_info">
        <%= render 'manager_invoices/manager_invoice_info' %>
      </section>
      <!-- /.user_info -->
    </aside>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.page-wrapper -->
