<% if user_logged_in? && current_user.manager? %>
  <%= render 'layouts/manager_dashboard' %>
<% elsif user_logged_in? && !current_user.manager? %>
  <%= render 'layouts/interpreter_dashboard' %>
<% elsif customer_logged_in? %>
  <%= render 'layouts/customer_dashboard' %>
<% end %>
<div id="page-wrapper">
  <%= render 'layouts/alerts' %>
  <div class="row">
    <aside class="col-lg-12">
      <h3 class="page-header">
        <% if customer_logged_in? %>
          <% provide(:title, "TSHA Invoice #{@manager_invoice.id}") %>
          TSHA Invoice #<%= @manager_invoice.id %>
        <% else %>
          <% provide(:title, "Manager Invoice #{@manager_invoice.id}") %>
          Manager Invoice #<%= @manager_invoice.id %>
        <% end %>
      </h3>
      <!-- /.page-header -->
      <section class="user_info">
        <% if user_logged_in? && current_user.manager? && !@manager_invoice.processed? %>
          <div class="btn-group" role="group" aria-label="Justified button group">
            <% if !@manager_invoice.processed? %>
              <%= link_to "Process Manager Invoice", process_manager_invoice_manager_invoice_path(id: @manager_invoice.id), class: "btn btn-success", role:"button", :data => {:confirm => "Are you sure you want to process this manager invoice?"} %>
            <% else %>
              <%= link_to "Unprocess Manager Invoice", unprocess_manager_invoice_manager_invoice_path(id: @manager_invoice.id), class: "btn btn-success", role:"button", :data => {:confirm => "Are you sure you want to unprocess this manager invoice?"} %>
            <% end %>
          </div>
          <!-- /.btn-group btn-group-justified -->
        <% end %>
        <%= render 'manager_invoices/manager_invoice_info' %>
      </section>
      <!-- /.user_info -->
    </aside>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.page-wrapper -->
