<div id="wrapper">
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <% if user_logged_in? && !current_user.manager? && !current_user.approved? %>
        <li>
          <%= link_to jobs_path do %>
            <%= content_tag :i, "", :class => "fa fa-plus-circle fa-fw" %> Awaiting Approval
          <% end %>
        </li>
        <% elsif user_logged_in? && !current_user.manager? && current_user.approved? %>
        <li>
          <%= link_to jobs_path do %>
            <%= content_tag :i, "", :class => "fa fa-plus-circle fa-fw" %> Available Jobs <%= content_tag :span, "#{@user_jobs.count}", :class => "badge" %>
          <% end %>
        </li>
        <li>
          <a href="#"><i class="fa fa-briefcase fa-fw"></i> Your Jobs<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to current_jobs_path do %>
                Current <%= content_tag :span, "#{@current_jobs.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to pending_jobs_path do %>
                Pending Approval <%= content_tag :span, "#{@pending_jobs.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to completed_jobs_path do %>
                Completed <%= content_tag :span, "#{@completed_jobs.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to rejected_jobs_path do %>
                Rejected <%= content_tag :span, "#{@rejected_jobs.count}", :class => "badge" %>
              <% end %>
            </li>
          </ul>
          <!-- /.nav nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-tasks fa-fw"></i> Your Invoices<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to "History", jobs_path %>
            </li>
          </ul>
          <!-- /.nav nav-second-level -->
        </li>
        <% end %>
      </ul>
      <!-- /.nav -->
    </div>
    <!-- /.sidebar-nav navbar-collapse -->
  </div>
  <!-- /.navbar-default sidebar -->
</div>
<!-- /.wrapper -->