<div id="wrapper">
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li>
        <%= link_to dashboard_path do %>
          <%= content_tag :i, "", :class => "fa fa-dashboard fa-fw" %> Dashboard
        <% end %>
        </li>
        <li>
          <a href="#"><i class="fa fa-comments fa-fw"></i> Interpreters<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to pending_interpreters_path do %>
                Pending Interpreters <%= content_tag :span, "#{@pending_users.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to interpreters_path do %>
                All Interpreters <%= content_tag :span, "#{@total_users.count}", :class => "badge" %>
              <% end %>
            </li>
          </ul>
          <!-- /.nav nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-briefcase fa-fw"></i> Job Requests<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to pending_job_requests_path do %>
                Pending <%= content_tag :span, "#{@job_requests_awaiting_approval.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to job_requests_path do %>
                History <%= content_tag :span, "#{@job_requests.count}", :class => "badge" %>
              <% end %>
            </li>
          </ul>
          <!-- /.nav nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-calendar fa-fw"></i> Jobs<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to needs_confirmation_path do %>
                Needs Confirmation <%= content_tag :span, "#{@jobs_in_need_of_confirmation.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to confirmed_jobs_path do %>
                Confirmed <%= content_tag :span, "#{@confirmed_jobs.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to awaiting_completion_path do %>
                Awaiting Completion <%= content_tag :span, "#{@jobs_awaiting_completion.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to awaiting_invoice_path do %>
                Awaiting Invoice <%= content_tag :span, "#{@jobs_awaiting_invoice.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to processed_jobs_path do %>
                Processed <%= content_tag :span, "#{@processed_jobs.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to expired_jobs_path do %>
                Expired <%= content_tag :span, "#{@expired_jobs.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to jobs_path do %>
                All Jobs <%= content_tag :span, "#{@total_jobs.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to "Create a Job", new_job_path %>
            </li>
          </ul>
          <!-- /.nav nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-users fa-fw"></i> Customers<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to pending_customers_path do %>
                Pending Customers <%= content_tag :span, "#{@pending_customers.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to customers_path do %>
                All Customers <%= content_tag :span, "#{@total_customers.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to "Create a Customer", new_customer_path %>
            </li>
          </ul>
          <!-- /.nav nav-second-level -->
        </li>
        <li>
          <a href="#"><i class="fa fa-money fa-fw"></i> Invoices<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            <li>
              <%= link_to interpreter_invoices_path do %>
                Interpreter Invoices <%= content_tag :span, "#{@interpreter_invoices.count}", :class => "badge" %>
              <% end %>
            </li>
            <li>
              <%= link_to manager_invoices_path do %>
                Manager Invoices <%= content_tag :span, "#{@manager_invoices.count}", :class => "badge" %>
              <% end %>
            </li>
          </ul>
          <!-- /.nav nav-second-level -->
        </li>
      </ul>
      <!-- /.nav -->
    </div>
    <!-- /.sidebar-nav navbar-collapse -->
  </div>
  <!-- /.navbar-default sidebar -->
</div>
<!-- /.wrapper -->